footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    color: #dcdcdc;
    padding: 1.2rem;
    font-size: 1.15rem;
}

footer svg {
    transform: scale(1.35);
}

footer a {
    margin-right: 1rem;
    color: #dcdcdc;
    text-decoration: none;
}
